
@font-face {
  font-family: Oswald-Regular;

  src:  url(../fonts/Oswald-Regular.ttf),
  url(../fonts/Oswald-Regular.otf),
  url(../fonts/Oswald-Regular.eot),
  url(../fonts/Oswald-Regular.woff),
  url(../fonts/Oswald-Regular.woff2),
  url(../fonts/Oswald-Regular.svg);
}

@font-face {
  font-family: Oswald-Light;

  src:  url(../fonts/Oswald-Light.ttf),
  url(../fonts/Oswald-Light.otf),
  url(../fonts/Oswald-Light.eot),
  url(../fonts/Oswald-Light.woff),
  url(../fonts/Oswald-Light.woff2),
  url(../fonts/Oswald-Light.svg);
}

@font-face {
  font-family: PTSerif-Regular;

  src:  url(../fonts/PTSerif-Regular.ttf),
  url(../fonts/PTSerif-Regular.otf),
  url(../fonts/PTSerif-Regular.eot),
  url(../fonts/PTSerif-Regular.woff),
  url(../fonts/PTSerif-Regular.woff2),
  url(../fonts/PTSerif-Regular.svg);
}


@font-face {
  font-family: PTSerif-Italic;

  src:  url(../fonts/PTSerif-Italic.ttf),
  url(../fonts/PTSerif-Italic.otf),
  url(../fonts/PTSerif-Italic.eot),
  url(../fonts/PTSerif-Italic.woff),
  url(../fonts/PTSerif-Italic.woff2),
  url(../fonts/PTSerif-Italic.svg);
}