@media only screen and (max-width: 768px) {

    .top-wr{
        padding: 0 10px;
        flex-direction: column;
        align-items: center;

        & > a{
            width: 90%;
            max-width: 330px;
        }

        .left{
            margin-bottom: 30px;
        }

        .right{
            width: 100%;
            max-width: 400px;
            display: flex;
            justify-content: space-between;

            .button{
                padding: 17px 30px 18px 30px !important;
            }
        }
    }

    .bottom-wr{
        padding: 0;
        flex-direction: column;
        align-items: center;

        .nav{
            justify-content: space-between;
            width: 100%;
            max-width: 400px;

            a{
                font-size: 15px!important;
                padding: 18px 10px !important;
            }
        }

        .searchForm{
            display: none;
        }
    }

    .gallery{
        .gallery-title{

        }
        ul{
            padding-left: 20px;
            justify-content: center;

            li:last-child{
                margin: 0 20px 0 0 !important;
            }
        }
    }
}
